html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f4fd;
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

@supports(padding: env(safe-area-inset-left)) {
  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

/* クロム */
.app-chrome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow: hidden;
  box-sizing: border-box;
}

/* アプリヘッダー */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  width: 100%;
  height: 32px;
  overflow: hidden;
  box-sizing: border-box;
}

.app-header img{
  width: 1.75rem;
}

.header-left{
  display: flex;
  align-items: center;
  order: 0;
  height: 100%;
  box-sizing: border-box;
}

.header-right{
  display: flex;
  align-items: center;
  order: 1;
  height: 100%;
  box-sizing: border-box;
}

/* コンテンツ */
.app-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

/* タイマーコンテイナー */
.timer-container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 32px;
  overflow: hidden;
  box-sizing: border-box;
}

.timer-svg {
  transform: rotate(-90deg);
  z-index: 1;
  -webkit-transform: rotate(-90deg);
  circle{
    stroke-width: 2;
  }
}

.timer-bar {
  stroke-linecap: round;
  stroke-dasharray: 301.59; 
  stroke-dashoffset: 0;
  transition: all 1s linear;
}

.timer-time {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 4.5rem;
  line-height: 1;
  z-index: 2;
}

/* タイマーコントローラー */
.timer-controller{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  width: 100%;
  height: auto;
  padding: 16px;
  box-sizing: border-box;
}

.stop-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: auto;
  height: 55px;
  padding: 0 2.25rem;
  outline: none;
  border: 2px solid #738cf3;
  border-radius: 48px;
  color: #738cf3;
  font-size: 1.25rem;
  box-sizing: border-box;
}

/* スケジュール */
.schedule-container{
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;
}

.schedule{
  width: 100%;
  height: auto;
  line-height: 1.875;
  overflow: hidden;
  border-collapse: collapse;
}

.schedule td{
  padding: 8px;
  border: 1px solid #202020;
}
